<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/soka" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="outer-container">
      <div class="left-container">
        <div class="left-heading">
          <img src="welcome1.png" alt="welcome" id="welcome">
        </div>
        
        <div class="left-body">
          <div class="content">
            <div class="content-item">
              <% for(var i=0; i<item.length; i++) {%>
                <tr>
                  <td class="item"><%- item[i][0] %></td></td>
                </tr>  
             <% } %> 
            </div>
            <div class="content-price">
              <% for(var i=0; i<item.length; i++) {%>
                <tr>
                  <td class="item"><%- item[i][1] %> </td>
                </tr>  
             <% } %> 
            </div>

          </div>
          <hr class="solid">
          <div class="total">
            <h3>Total:</h3>
            <h3><%= total %> €</h3>
          </div>
        </div>
      </div>

      <div class="right-container">
        <div class="right-container">
          <div class="right-heading">
            <img src="woman1.png" alt="woman" id="woman">
          </div>
          
          <div class="right-body">
              <div class="discount-content">
                <div class="outer-button">
                  <button class="btn">20%</button>
                </div>
                <div class="outer-button">
                  <button class="btn">40%</button>
                </div>
                <div class="outer-button">
                  <button class="btn">60%</button>
                </div>
                <div class="outer-button">
                  <button class="btn">80%</button>
                </div> 
              </div>
              <div class="discount-word">
                <h3>DISCOUNT</h3>
              </div>

          </div>
  
          <div class="right-footer">
            <div class="outer-button">
              <button class="btn footer-btn">DELETE</button>
            </div>
            <div class="outer-button">
              <button class="btn footer-btn">CANCEL</button>
            </div>
            <div class="outer-button">
              <button class="btn footer-btn">PAY</button>
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
